@import url('https://fonts.googleapis.com/css2?family=Montserrat@1&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
    /* background-color: #040404; */
    color: #fff;
    position: relative;
    background: transparent;
  }
body::before {
    content: "";
    position: fixed;
    background: #040404 url(images/coding-code.png) top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

/* Header / Home */
#header .social-links {
    display: flex;
    margin-bottom: 15px;
  }

#header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  #header .social-links a:hover {
    background: #00a0f8;
  }

 .header-content p{
  text-align: center;
 }

 /* Navbar */
  .nav-contact, .nav-item {
    cursor: pointer;
  }

  .nav-contents {
    display: none;
  }
  .nav-contents.active-tab{
    display: block;
  }

  /* .active-link {
    background-color: green
  } */

  /* .active-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #5c2221;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
} */


  nav li:hover {
    background-color: #aaaaaa;
    transition: all 0.5s ease;    
  }

  nav li a:active {
    background-color: #aaaaaa;
  }

  .navbar-brand {
    font-size: 25px !important;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    letter-spacing: 5px;
  }

  /* About */
  section {
    margin-top: 100px;
  }

  .about-me, .resume{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
  }

  /* Resume */
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  .section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }

  .resume .resume-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #00a0f8;
}
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }

  /* Footer */
  footer {
    color: #0d6efd;
  }